@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

#body {
    padding: 20px;
    height: 100vh;
    background-color: #ddd5f3;
    overflow:auto;
    font-family: "Lexend Deca", sans-serif;
}
.container {
    background-color: #ddd5f3;
    padding: 0px;
    max-width: none;
}

#aboutMeImg {
    width: 100%;
    height: auto;
    float: left;
}  

.header {
    text-align: center;
}

#my-headers {
    font-size: 36px
}

.col-4 {
    overflow-wrap: break-word;
}
